html {
  background: rgb(253, 246, 232);
}

body {
  margin: 0;
  background: rgb(253, 246, 232);
}

hr {
  size: 10;
}

th {
  font-size: calc(8px + 0.5vw);
}

td {
  font-size: calc(6px + 0.3vw);
}

.map {
  background: rgb(134, 165, 173);
}
::selection {
  background: #62c4c7; /* WebKit/Blink Browsers */
}

.country {
  stroke: #f8f8f8;
  stroke-width: 0.2;
}

.hover-country {
  stroke: #f8f8f8;
  stroke-width: 0.2;
}

/* Header/Blog Title */
.header {
  margin-top: 50px;
  text-align: center;
  color: rgb(24, 32, 44);
  background: rgb(253, 246, 232);
  font-family: "grad", serif;
  font-weight: 700;
  font-size: calc(14px + 3vw);
}

/* Header/Blog Title */
.subheader {
  text-align: center;
  background: rgb(253, 246, 232);
  font-family: cursive;
  font-weight: black;
  font-size: calc(10px + 1vw);
}

.text-content {
  padding: 20px;
  color: rgb(24, 32, 44);
  font-family: "mr-eaves-xl-sans", sans-serif;
  font-size: calc(12px + 0.5vw);
  line-height: 1.8;
  text-align: justify;
}

.query-content {
  padding-top: 10px;
  color: rgb(24, 32, 44);
  font-family: "grad", serif;
  font-size: calc(12px + 1vw);
  line-height: 1.8;
  text-align: justify;
  font-weight: 700;
}

.vis-center-container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  vertical-align: middle;
}

.float {
  margin-top: 20px;
  margin-left: 50px;
  width: 45px;
  height: 45px;
  background-color: #84aaf5;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  outline: none;
}
.float:focus {
  outline: none;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #e4e8f0;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;

  -moz-box-shadow: 0px 8px 5px -6px rgb(0, 0, 0);
  -webkit-box-shadow: 0px 8px 5px -6px rgb(0, 0, 0);
  box-shadow: 0px 8px 5px -6px rgb(0, 0, 0);
}

.svg-content-responsive {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.slider {
  background: rgb(206, 64, 59);
}

.ticks {
  font-size: 5px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.flag {
  width: 30px;
}

#nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 0, 0);
}

#nav li {
  float: left;
  display: inline;
}

#nav button {
  display: block;
  color: rgb(254, 254, 255);
  background-color: #555e85;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav li button:hover {
  color: rgb(89, 96, 112);
  background-color: rgb(104, 180, 190);
}

.active {
  color: rgb(89, 96, 112);
  background-color: #519b97;
}

.nav-container {
  display: flex;
  justify-content: center;
}
.abc {
  color: #5f0813;
}

.linegroup1 {
  fill: none;
  stroke-width: 3px;
}

.linegroup2 {
  fill: none;
  stroke-width: 1px;
}

.tick line {
  opacity: 0.2;
}
.zoom {
  cursor: move;
  fill: none;
}
